
.form{
font size: 20px;
text-align: center;
position: relative;
}

.one{
font-family: inherit;
color: yellow;
}

.two{
    
font-family:cursive;
color: blue;
}

.three {
font-family:sans-serif;
color: green;
}


.four{
font-family: monospace;
color: brown;
}

.background{
background-repeat:no-repeat;

    
    
    
}

@font-face 
{
    font-family:Chyga;
    src:url("Chyga.ttf");}
@font-face 
{
    font-family:MiraculousChristmas;
    src:url("Miraculous_Christmas.ttf");}
@font-face 
{
    font-family:Knight;
    src:url("Knight_Brush_Demo.otf");}

.font1{
    font-family: "Chyga";
    font-size: 50px;
    position:absolute;
    margin-top:800px;
    margin-left:400px;
}


.font2{
    
 font-family: "MiraculousChristmas";
    font-size: 50px;
    position:absolute;
    margin-top:400px;
    margin-left:400px;
    
} 


.font3{
    font-family: "Knight";
    font-size: 50px;
    position:absolute;
    margin-top:px;
    margin-left:400px;
}

.home{
    
    position:absolute;
    margin-left:400px;
}





.blucksy{
    z-index: -1;
}

.font4{
    font-family: "MiraculousChristmas";
    font-size: 50px;
    position:re;
}
    
.font5{
    font-family: "MiraculousChristmas";
    font-size: 50px;
    margin-top: 200px;
    font-weight: 100px;        
    ;}
    
.redirect{
    top:0px;
    right: 200px;
    position: relative;
}

.redirect2{
   top:-88px;

    position: relative;
    left: -85px;
}
    

.redirect3{
    top:-165px;
    position: relative;
    left:50px;
}
    

.redirect4{
    top:-235px;
    position: relative;
    left:175px;
 
}
 
.form2{
font-family: fantasy;
font size: 20px;
text-align: center;
position: relative;
}

.text{
    font-size: 30px;
    margin-top: 200px;
    font-weight: 100px;        
    ;}

.redirect7{
   top:20px;

    position: relative;
    left: 100px;
}

.redirect8{
   top:-65px;

    position: relative;
    left: -130px;
}

.redirect9{
   top:-160px;

    position: relative;
    left: 50px;
}

.redirect10{
   top:-313.5px;

    position: relative;
    left: 217px;
}


.background{
background-repeat:no-repeat;
background-size: cover
    
    
    
}
