
.form{
font size: 20px;
text-align: center;
position: relative;
}

.one{
font-family: inherit;
color: yellow;
}

.two{
    
font-family:cursive;
color: blue;
}

.three {
font-family:sans-serif;
color: green;
}


.four{
font-family: monospace;
color: brown;
}

.background{
background-repeat:no-repeat;

    
    
    
}

@font-face 
{
    font-family:Chyga;
    src:url("Chyga.ttf");}
@font-face 
{
    font-family:MiraculousChristmas;
    src:url("Miraculous_Christmas.ttf");}
@font-face 
{
    font-family:Knight;
    src:url("Knight_Brush_Demo.otf");}

.font1{
    font-family: "Chyga";
    font-size: 50px;
    position:absolute;
    margin-top:800px;
    margin-left:400px;
}


.font2{
    
 font-family: "MiraculousChristmas";
    font-size: 50px;
    position:absolute;
    margin-top:400px;
    margin-left:400px;
    
} 


.font3{
    font-family: "Knight";
    font-size: 50px;
    position:absolute;
    margin-top:px;
    margin-left:400px;
}

.home{
    
    position:absolute;
    margin-left:400px;
}





.blucksy{
    z-index: -1;
}


